{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaIndexOf</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/user.css' %}">
</head>

<body>
    <nav class="navbar-default custom-header">
        <div class="container-fluid">
                <a class="navbar-link col-sm-10" href="#"><h2>MegaIndexOf</h2> </a>
                <button type="button" class="navbar-toggle collapsed col-sm-2" data-toggle="collapse" data-target="#navbar-collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links"></ul>
                <form class="navbar-form" action='../show' method="post">
                    {% csrf_token %}
                    <input class="form-control" name='q' type="search" placeholder="Enter title of TV series">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"> </span> </button>
                </form>
            </div>
        </div>
    </nav>
    <ol class="breadcrumb">
        {% block breadcrumb %}
        {% endblock %}
    </ol>
    <div>
        {% block list %}
        {% endblock %}
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>